* {
    font-family: Montserrat;
}
section {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

section :first-child {
    color: red;
}

#datetime-picker {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    margin-bottom: 32px;
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;    
}
button {
    color: #989898;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #CFCFCF;
}
button:enabled{
    color: #FFF;
    background: #4E75FF;
    outline: none;
}
button:enabled:hover {
    background: #6C8CFF;
}
.timer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.field{
    display: flex;
    flex-direction: column;    
    
}
.value {
color: #2E2F42;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;    
    text-align: center;
}
.label {
    text-transform: uppercase;
    text-align: center;
}